/*
@font-face {
    font-family: 'Normale_Grotesk';
    src: url('../fonts/NormaleGrotesk-Regular.otf') format('otf');
}
*/


@font-face {
  font-family: 'Normale_Grotesk';
  src: url('../fonts/NormaleGrotesk-Regular.woff2') format('woff2'),
       url('../fonts/NormaleGrotesk-Regular.woff') format('woff'),
       url('../fonts/NormaleGrotesk-Regular.ttf') format('truetype');
}



@font-face {
    font-family: 'GT_Super';
    src: url('../fonts/GTSuperText-BookItalic.woff') format('woff');

}

/*
* === BOOTSTRAP CORR ===
*/

.navbar-light .navbar-toggler {
    color: rgb(0, 0, 0) !important;
    border-color: transparent !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
}

.navbar-collapse {
    align-items: end !important;
}

/*
* === GLOBAL ===
*/

body {
    font-family: "Normale_Grotesk", "Helvetica Neue", Helvetica, Arial, Sans-serif !important;
    font-size: 17px;
    line-height: 1.5em !important;
}

.main {
    /*background-color: red;*/
}

ul,
li {
    list-style-type: none;
    margin: 0px;
    border: none !important;
    background-color: transparent !important;
    text-align: left !important;
    padding: 0px !important;
    padding-right: 15px !important;

}

a {
    text-decoration: inherit !important;
    color: black !important;
}

.wfbLines {
    position: absolute;
    width: 84%;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 25%;
    border-left: 1px solid rgba(0, 0, 0, .3);
    border-right: 1px solid rgba(0, 0, 0, .3);
    z-index: -1;
}


/*
* — Vertical Distance Modules —
*/

.vModule1 {
    margin-top: 17px;
}

.vModule2 {
    margin-top: 1.618em;
}

.vModule3 {
    margin-top: 2.618em;
}

.vModule4 {
    margin-top: 4.236em;
}

.vModule5 {
    margin-top: 6.854em;
    line-height: 1em;
}

.vModule6 {
    margin-top: 11.09em;
}


/*
* === NAVIGATION ===
*/

.navigation {
    margin-top: 10px;
    font-size: 1.414em;
}

.myToggle {}

.navigation ul {
    vertical-align: top
}

.navigation li {
    line-height: 24px;
}



.brand_logo {
    width: 100%;
}

.brand_logo img {
    display: inline-block;
    width: 75%;
}

.navbar-toggler p {
    font-size: 1.618em;
}

.toggleMenu {}

.toggleMenuEl {}

.toggleSoMe {
    font-size: 17px;
    line-height: 1.15em;
}

/*
* === COVER ===
*/

.cover_txt {
    font-size: 5.653em;
    font-family: GT_Super;
    line-height: 1em;
    letter-spacing: -4px;
}


.badge_ {
    font-family: "Normale_Grotesk";
    letter-spacing: 0px;
    font-size: 0.382em !important;

}

.badge_ a {
    text-decoration: none !important;
    color: white !important;

}

.bottom {
    position: absolute;
    bottom: 4vh;
    text-align: right;
    font-size: 4.236em;
}

/*
* === CONTENT ===
*/

.content {
    /*background-color: blue;*/
}

.title {
    font-family: GT_Super;
    font-size: 5.653em;
}

.sectionTitle {
    font-size: 2.827em;
}

.textBody {
    line-height: 1.15em;
}

.visible {
    display: block;
}

.imgOnHover {
    display: none;
}

.textBody span {
    text-decoration: underline;
}


/*
* — Item element —
*/
.item {
    /*margin-left: 10px;*/
    font-size: 1.414em;
}

.itemText {
    line-height: 1.15em;
    padding-left: 0px!important;
}

.itemImage {

    /*padding-right: 0px;*/
    /*per evitare che si attacchi al bordo su mobile*/
}

.itemDetailTitle {
    font-size: 2.827em;
    line-height: .8em;
}

.itemDetailDescription {
    font-size: 1.414em;
    line-height: 1.15em;
}

.itemDetailSpecs {
    line-height: 1.15em;
}

.itemDetailButton {
    height: 50px;
    width: 264px;
    border-radius: 40px;
    color: white;
    background-color: black;
    border: none;
}

.itemDetailButton:hover {
    background-color: #424242;
}

.itemDetailImage {
    margin-top: 15px;
}



/*
* === MAJOR SECTION HEADING ===
*/
@media screen and (min-device-width : 375px) and (max-device-width : 812px) {

    .wfbLines {
        width: 80%;
        border-left: 1px solid rgba(0,0,0,.1);
        border-right: 1px solid rgba(0,0,0,.1);

    }

    .navigation li {
        line-height: 1.618em;
    }

    button:focus {
        outline: none !important;
    }

    .show {
        margin-bottom: 15px;
    }

    .toggleMenu {
        margin-top: 15px;
        border-top: 1px solid rgba(0, 0, 0, .1)
    }

    .toggleMenuEl {
        padding-left: 0px !important;
    }

    .toggleSoMe {
        margin-top: 15px;
        line-height: 24px;
        padding-left: 1.618em !important;
    }

    .title {
        font-size: 3.998em;
    }

    .cover_txt {
        font-size: 2.827em !important;
        line-height: 1.2em;
        word-break: break-word;
        hyphens: manual;
    }

    .badge_ {
        font-family: "Normale_Grotesk";
        font-size: 0.618em;
        letter-spacing: 0px;
    }

    .itemDetailButton {
        width: 100%;
        height: 60px;
    }


    .itemImage {
        /*padding-right: 10px;*/
        height: auto;
    }

}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .itemImage {
        padding-right: 0px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}